/* ---------------- ESTILOS GENERALES ----------------*/

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
    background-color: #e2eaff;
    color: #101632dd;
}

body, div, ul, nav, header, footer, a, li, label {
    margin: 0;
    padding: 0;
}


/* ---------------- FIN ESTILOS GENERALES ----------------*/
/* ---------------- SECCION DEL ENCABEZADO ----------------*/

.header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Agregado para posicionar correctamente el botón de menú */
    font-size: 20px;
    color: #48e;
    z-index: 10;
}

.header__open-nav-button {
    color: #48e;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
    z-index: 2; /* Asegura que el botón esté sobre el menú */
    cursor: pointer; /* Cambia el cursor al hacer hover */
}

.header__checkbox {
    display: none;
}

.header__nav{
    display: none;
    background-color: #fff;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 1; /* Asegura que el menú esté detrás del botón */
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    padding: 20px; /* Agrega espacio entre los elementos del menú */
    margin: auto;
}

.header__checkbox:checked ~ .header__nav {
    display: flex;
}

.header__logo {
    max-width: 100%;
    width: 65px;
    margin: 10px 20px;
}

.header__nav-item {
    list-style: none;
}

.header__nav-item a { 
    color: inherit;
    text-decoration: none;
}

.header__nav-item :is(:hover,:active) {
    text-decoration: underline;
}

/* Consultas de medios para el encabezado */
@media screen and (min-width: 600px) {
    

    .header {
        padding: 20px 0;
        animation: header-movement both;
        animation-timeline: scroll();
        position: sticky;
        top: 0;
        animation-range: 10px 100px;
    }

    .header__nav {
        display: block;
        position: static;
        height: auto;
        width: auto;
        justify-content: space-between;
        background-color: initial;
    }

    .header__nav-list {
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 20px;
        margin-right: 40px;
    }

    .header__open-nav-button {
        display: none;
    }
}

/* ---------------- FIN SECCION DEL ENCABEZADO ----------------*/
/* ---------------- SECCION DEL PERFIL ----------------*/

.profile {
    container-name: profile;
    container-type: inline-size;
}

.profile__wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    max-width: 1400px;
    margin: auto; /* Centrar el perfil horizontalmente */
    padding: 20px; /* Agregado para espacio interno */
}

.profile__data-container {
    max-width: 100%; /* Ajustar el ancho del contenedor */
    padding: 12px;
}

.profile__img-container {
    max-height: 500px;
    overflow: hidden;
}

.profile__img {
    max-width: 100%;
    width: 100%; /* Ajustar el ancho de la imagen */
    height: auto; /* Ajustar la altura de la imagen */
}

h1 { 
    color: #26a;
    max-width: 100%;
    margin-top: 0;
    font-size: 2rem;
    word-wrap: break-word;
}
.download-cv {
    
    padding: 10px 20px;
    background-color: #48e;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
    -moz-box-shadow:  1px 3px 11px -5px rgba(102,231,200,0.69);
    box-shadow: 1px 3px 11px -5px rgb(102, 231, 200, 0.69);
}

.download-cv:hover{

  background-color: #fff;
  box-shadow: none;
}

.profile__skills-container h2 { 
    color: #26a;
}

.profile__skill {
    list-style: none;
    display: flex;
    margin: 10px;
    max-width: 600px;
    margin-left: 0;
    align-items: center;
}

.load-bar {
    border: 2px solid #48e;
    border-radius: 8px;
    color: #fff;
    padding: 2px;
    font-size: 12px;
    width: 80%;
    margin: 4px;
    margin-left: 0;
}

.profile__skill-name {
    color: #48e;
}

.load-bar__bar {
    background-color: #48e;
    border-radius: 4px;
    padding: 4px 6px;
}

.bar--80 {
    width: 80%;
}

.bar--70 {
    width: 70%;
}

.bar--78 {
    width: 78%;
}

/* ---------------- FIN SECCION DEL PERFIL ----------------*/
/* ---------------- SECCION DE PORTFOLIO ----------------*/

.portfolio {
    background-color: #18233f;
    color: #fff;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    container-name: portfolio;
    container-type: inline-size;
    justify-content: space-evenly;
}

.portfolio__title { 
    font-size: 2rem;
    margin-bottom: 0;
}


.portfolio__project-container { 
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    gap: 12px;
    padding: 12px;
    min-height: 80vh;
}

.portfolio__project {
    background-image: linear-gradient(#0009, #0005), url("proyectos.jpg");
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
    border-radius: 9px;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 5% cover 40%;
}

.portfolio__project:hover {
    opacity: 0.74;
    outline: 2px solid #fff6;
}

/* ---------------- FIN SECCION DE PORTFOLIO ----------------*/
/* ---------------- SECCION DE CONTACTO ----------------*/

.form {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    container-name: form;
    container-type: inline-size;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 7% cover 40%;
}


.form__form { 
    padding: 12px;
    max-width: 600px;
    width: 100%;
    margin-bottom: 30px;
}

.form__input-container :is(input,textarea) {
    width: 100%;
    padding: 9px;
    font-size: 16px;
    margin: 4px;
    border: none;
    box-shadow: 2px 2px 4spx #0003;
    border-radius: 9px;
}

.form__input-container textarea { 
    resize: none;
    min-height: 120px;
    font-family: inherit;
}

.form__input-container input[type="submit"]{
    padding: 12px;
    background-color: #18233f;
    color: #fff;
}

.form_title {
    font-size: 2rem;
}

/* ---------------- FIN SECCION DE CONTACTO ----------------*/
/* ---------------- SECCION DE FOOTER ----------------*/

.footer {
    padding: 60px;
    text-align: center;
    background-color: #18233f;
    color: #fffd;
    font-size: 22px;
    display: flex;
    flex-direction: column;
}

.footer-content h2 {
  font-size: 38px;
}

.footer-content h5,
.sotial-network i {
  font-size: 20px;
  text-align: center;
}

.social-network {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 20px;
}

.social-network a {
    color: #ffffff; /* Color de los iconos */
    text-decoration: none; /* Quita subrayado */
    transition: color 0.3s ease; /* Transición de color al hacer hover */
}

.social-network a:hover {
    color: #48e; /* Cambia el color al hacer hover */
}


/* ---------------- FIN SECCION DE FOOTER ----------------*/


/* ---------------- SECCION DE QUERIES ----------------*/
/* ### PERFIL QUERIES ### */
@media (min-width: 720px) {
    .profile__wrapper {
        flex-direction: row;
        background-color: transparent;
        height: auto; /* Restaurar la altura automática */
    }

    .profile__data-container {
        background-color: #fff;
        display: flex;
        align-items: center;
        border-radius: 0px 25px 25px 0;
        box-shadow: 0px 0px 9px #0002;
        flex-grow: 1; /* Permitir que el contenedor se expanda */
    }

    h1 {
        font-size: 2rem; /* Restaurar el tamaño del texto */
    }

    .profile__data {
        max-width: 620px;
    }

    .profile__img-container {
        max-height: initial;
        border-radius: 25px 0 0 25px;
    }

    .profile__img {
        width: 620px; /* Restaurar el ancho de la imagen */
    }
}

/* ### PORTFOLIO QUERIES ### */
@container portfolio (min-width: 56.25rem) {
    .portfolio__project-container {
        grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    }

    .portfolio__project:first-child{
        grid-column: span 2;
    }

    .portfolio__project:nth-child(6){
        grid-column: span 2;
    }
}

@container portfolio (min-width: 81.25rem) {
    .portfolio__project-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .portfolio__project:first-child{
        grid-column: span 2;
    }

    .portfolio__project:nth-child(6){
        grid-column: span 2;
    }
}

/* ### CONTACT QUERIES ### */
@container form (min-width: 56.25rem) {

    .form__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "name lastame" 
        "email email" 
        "message message" 
        "button button";
        grid-gap: 12px;
    }

    .form__input-container:first-child{
        grid-area: name;
    }
    .form__input-container:first-child(2) {
        grid-area: lastname;
    }
    .form__input-container:first-child(3) {
        grid-area: email;
    }
    .form__input-container:first-child(4) {
        grid-area: message;
    }
    .form__input-container:nth-child(5) {
        grid-area: button;
    }
}


/* ---------------- ANIMACIONES ----------------*/

@keyframes header-movement {
    from {
        padding: 20px 0;
        background-color: #fff;
    }
    to {
        padding: 0;
        background-color: #10163266;
        color: #fff;
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.form__form {
    animation: aparecer 1s ease forwards; /* Aplicar la animación a la clase */
}